<html>
<head>
	<title>Home page</title>
</head>
<body>
	<h2>Home Page</h2>	
		Username : <%= user.username %><br>
		Pasword : <%= user.password %><br>
		Type : <%= user.type %><br>	
</body>
</form>